<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=devince-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="../static/image/icone.png"/>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css"/>
  </head>
  <body>
    <center class="center">
      <h2>Bienvenue,</h2>
      <h3>sur le portail de connexion.</h3>
      <ul id="formspace">
	<fieldset>
	  <legend>
	    Connexion :
	  </legend>
	  <form action="login" method="POST">
	    <li>
	      <input style="opacity: 0.6;" type="text" placeholder="Username" name="username" size="20">
	    </li>
	    <br>
	    <li>
	      <input style="opacity: 0.6;" type="text" placeholder="Password" name="password" size="20">
	    </li>
	    <br>
	    <li>
        <button type="submit">connexion</button>
	  </form>
	</fieldset>
      </ul>
    </center>
  </body>
</html>
