<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
  </head>
  <div class="center">
       <center>
	 <p style="color:#FFFFFF">
	   <a href="https://www.linkedin.com/in/kevin-huet/" > Kevin Huet.
	 </p>
       </center> <br>
       <center>
	 <p style="color:#FFFFFF">
      <a href="https://www.linkedin.com/in/alexandre-wagner-5280a4138/"> Alexandre Wagner.
    </p>
       </center> <br>
       <center>
   <p style="color:#FFFFFF">
      <a href="#">Edgar Juredieu
	 </p>
       </center> <br>
       <br>
       <br>
       <br>
       <br>
       <center>
	 <button style="opacity: 0.5;"> <a href="/"> Retour </button>
       </center>
  </div>
   </body>
