<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} </title>
    <link rel="icon" type="image/png" href="../static/image/icone.png"/>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css"/>
  </head>
  <body>
    <div id="box" class="center">
      <center>
	<h1> Epytodo </h1>
      </center>
      <center>
	<p>WELCOME TO EPYTODO</p>
      </center>
      <center>
	<a href="/register_form"><button>S'engeristrer </button></a>
      </center>
      <br>
      <center>
	<a href="/login_form"><button> Se connecter  </button></a>
      </center>
    </div>
    <p>
      <i>
	<a style="color: white;" href="/creator"> Créateurs du site.</a>
      </i>
    </p>
  </body>
</html>
